webapps/smartE3/WEB-INF/classes/META-INF/InvoiceRequest.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.generals/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.generals/" name="InvoiceRequest">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.generals/" schemaLocation="http://192.168.110.48:8084/eInvoice/InvoiceRequest?xsd=1" />
</xsd:schema>
</types>
<message name="getInvoiceStatus">
<part name="parameters" element="tns:getInvoiceStatus" />
</message>
<message name="getInvoiceStatusResponse">
<part name="parameters" element="tns:getInvoiceStatusResponse" />
</message>
<message name="requestPayment">
<part name="parameters" element="tns:requestPayment" />
</message>
<message name="requestPaymentResponse">
<part name="parameters" element="tns:requestPaymentResponse" />
</message>
<message name="requestInvoice">
<part name="parameters" element="tns:requestInvoice" />
</message>
<message name="requestInvoiceResponse">
<part name="parameters" element="tns:requestInvoiceResponse" />
</message>
<message name="cancelInvoice">
<part name="parameters" element="tns:cancelInvoice" />
</message>
<message name="cancelInvoiceResponse">
<part name="parameters" element="tns:cancelInvoiceResponse" />
</message>
<portType name="InvoiceRequest">
<operation name="getInvoiceStatus">
<input wsam:Action="http://ws.generals/InvoiceRequest/getInvoiceStatusRequest" message="tns:getInvoiceStatus" />
<output wsam:Action="http://ws.generals/InvoiceRequest/getInvoiceStatusResponse" message="tns:getInvoiceStatusResponse" />
</operation>
<operation name="requestPayment">
<input wsam:Action="http://ws.generals/InvoiceRequest/requestPaymentRequest" message="tns:requestPayment" />
<output wsam:Action="http://ws.generals/InvoiceRequest/requestPaymentResponse" message="tns:requestPaymentResponse" />
</operation>
<operation name="requestInvoice">
<input wsam:Action="http://ws.generals/InvoiceRequest/requestInvoiceRequest" message="tns:requestInvoice" />
<output wsam:Action="http://ws.generals/InvoiceRequest/requestInvoiceResponse" message="tns:requestInvoiceResponse" />
</operation>
<operation name="cancelInvoice">
<input wsam:Action="http://ws.generals/InvoiceRequest/cancelInvoiceRequest" message="tns:cancelInvoice" />
<output wsam:Action="http://ws.generals/InvoiceRequest/cancelInvoiceResponse" message="tns:cancelInvoiceResponse" />
</operation>
</portType>
<binding name="InvoiceRequestPortBinding" type="tns:InvoiceRequest">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getInvoiceStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="requestPayment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="requestInvoice">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cancelInvoice">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="InvoiceRequest">
<port name="InvoiceRequestPort" binding="tns:InvoiceRequestPortBinding">
<soap:address location="http://192.168.110.48:8084/eInvoice/InvoiceRequest" />
</port>
</service>
</definitions>